<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuexi.lanyable">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/timg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/timg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ui_shanping">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Around"/>
        <service android:name=".BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>